//= require_tree ../../bower_components/Skeleton/css/
//= require font-awesome/scss/font-awesome.scss

body
  background: url('/images/background.png')
  background-repeat: repeat

#index
  padding-top: 10%
  p
    margin-top: 10px
    color: #666
    text-align: center
  p
    a
      color: #666
  img
    display: block
    margin: 0 auto
  ul
    list-style-type: none
    text-align: center
  a.button
    width: 50px
    height: 50px
    margin: 5px
    padding: 0 8px
    background: #fafafa
    &:hover
      color: #fff
      background: #666
    > i
      font-size: 25px
      line-height: 50px

  p.transparent
    color: transparent
