---
title: hmsk.me
body_class: index
---

.container
  %img{ src: "#{gravatar_for('k.hamasaki@gmail.com')}" }
  %p @hmsk / Kengo Hamasaki
  %ul
    - accounts_by_line.each do |line|
      %li
        - line.each do |account|
          %a.button{ href: account['url'], target: '_blank' }
            %i.fa{ class: 'fa-' + account['icon'] }
