---
title: hmsk.me
body_class: index
---

.box
  .welcome
  .summary
    %h2 hmsk.me
    %h3 Me
    %p hmsk / Kengo Hamasaki / 濱崎 健吾
    .icons
      %a{ href: 'http://pic.hmsk.me/', target: '_blank' }
        %i.fa.fa-camera-retro
      %a{ href: 'http://hmsk.hatenablog.com/', target: '_blank' }
        %i.fa.fa-pencil
      %a{ href: 'http://hmsk.hatenablog.jp/', target: '_blank' }
        %i.fa.fa-comment
      %a{ href: 'http://amzn.com/w/273IUDAQJR4QQ', target: '_blank' }
        %i.fa.fa-gift
    %h3 Identifications
    .icons
      %a{ href: 'https://alpha.app.net/hmsk', target: '_blank' }
        %i.fa.fa-adn
      %a{ href: 'https://twitter.com/hmsk', target: '_blank' }
        %i.fa.fa-twitter-square
      %a{ href: 'https://facebook.com/hamachang', target: '_blank' }
        %i.fa.fa-facebook-square
      %a{ href: 'https://github.com/hmsk', target: '_blank' }
        %i.fa.fa-github-square
      %a{ href: 'http://flickr.com/photos/hmsk/', target: '_blank' }
        %i.fa.fa-flickr
      %a{ href: 'http://instagram.com/hmsk', target: '_blank' }
        %i.fa.fa-instagram
      %a{ href: 'http://www.linkedin.com/in/khmsk', target: '_blank' }
        %i.fa.fa-linkedin-square
      %a{ href: 'http://hmsk.tumblr.com/', target: '_blank' }
        %i.fa.fa-tumblr-square

