---
title: hmsk.me
body_class: index
---

.container
  %img{ src: "#{gravatar_for('k.hamasaki@gmail.com')}" }
  %p
    %strong hmsk / Kengo Hamasaki
    %a{ href: 'https://keybase.io/hmsk/key.asc', target: '_blank' }
      %i.fa.fa-key
  %ul
    - accounts_by_line.each do |line|
      %li
        - line.each do |account|
          %a.button{ href: account['url'], target: '_blank' }
            %i.fa{ class: 'fa-' + account['icon'] }
